<app-header title="Inicio Profesor"></app-header>

<ion-content class="ion-padding">
  <div class="header-actions-container">
    <div class="welcome-text">
      <h2>Bienvenido Chef</h2>
      <p>Administra tus fichas técnicas y supervisa el progreso de tus módulos de formación culinaria.</p>
    </div>

    <div class="button-wrapper">
      <ion-button (click)="addUpdateRecipe()" expand="block" mode="ios" class="add-button-custom">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Crear nueva ficha
      </ion-button>
    </div>
  </div>

  <!-- ion card info -->

  <ion-grid class="main-grid ion-no-padding">
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card class="stat-card">
          <ion-card-header>
            <ion-item lines="none" detail="false">
              <ion-icon name="book-outline" slot="end" class="info-color"></ion-icon>
              <ion-label>
                <ion-card-subtitle class="info-color">TOTAL FICHAS</ion-card-subtitle>
                <ion-card-title>{{ totalRecipes }}</ion-card-title>
              </ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card class="stat-card">
          <ion-card-header>
            <ion-item lines="none" detail="false">
              <ion-icon name="eye-outline" slot="end" class="view-color"></ion-icon>
              <ion-label>
                <ion-card-subtitle class="view-color">VISITAS TOTALES</ion-card-subtitle>
                <ion-card-title>{{ formatViews(totalViews) }}</ion-card-title>
              </ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card class="stat-card">
          <ion-card-header>
            <ion-item lines="none" detail="false">
              <ion-icon name="star" slot="end" class="grade-color"></ion-icon>
              <ion-label>
                <ion-card-subtitle class="grade-color">MEDIA CALIFICACIÓN</ion-card-subtitle>
                <ion-card-title>4.9</ion-card-title>
              </ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12" sizeMd="6" sizeLg="3">
        <ion-card class="stat-card">
          <ion-card-header>
            <ion-item lines="none" detail="false">
              <ion-icon name="document-text-outline" slot="end" class="info-color"></ion-icon>
              <ion-label>
                <ion-card-subtitle class="info-color">EN REVISIÓN</ion-card-subtitle>
                <ion-card-title>3</ion-card-title>
              </ion-label>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Cards (en caso de existir mas de una en firestore) de las fichas tecnicas -->
  <ion-row class="ion-margin-top">
    <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="3" *ngFor="let t of techSheets">
      <ion-card>
        <div>
          <img alt="Receta" [src]="t.imageURL || 'https://ionicframework.com/docs/img/demos/card-media.png'" />
        </div>

        <ion-card-content>
          <div class="card-metadata">
            <ion-badge color="warning" mode="ios">PB-04 • AVANZADO</ion-badge>

            <div class="views-container">
              <ion-icon name="eye-outline"></ion-icon>
              <span class="views-count">{{ formatViews(t.views || 0) }}</span>
            </div>
          </div>

          <h2 class="card-title">{{ t.name || 'Titulo de la receta' }}</h2>
          <p class="card-subtitle">
            Un clásico de la pastelería que integra técnica de masa quebrada...
          </p>
        </ion-card-content>

        <ion-button fill="clear" (click)="addUpdateRecipe(t)">
          <ion-icon slot="start" name="pencil-outline"></ion-icon>
          Editar
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="start" name="share-social-outline"></ion-icon>
          Compartir
        </ion-button>
      </ion-card>
    </ion-col>

    <!-- Card para agregar fichas tecnicas -->
    <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="3">
      <ion-card class="add-recipe-card-trigger" mode="ios" (click)="addUpdateRecipe()">
        <div class="image-placeholder-wrapper">
          <ion-icon name="add-sharp"></ion-icon>
        </div>
        <ion-card-content class="add-card-content">
          <h2 class="card-title-add">Nueva Ficha Técnica</h2>
          <p class="card-subtitle-add">Haz clic aquí para comenzar a redactar una nueva lección maestra o técnica culinaria.</p>
          <div class="action-text">COMENZAR AHORA <ion-icon name="arrow-forward"></ion-icon></div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>