<app-header title="Agregar Receta"></app-header>

<ion-content class="form-content-wrapper">
  <form [formGroup]="form" class="ion-padding ion-text-center">
    <!-- Cabecera del formulario -->
    <div class="modal-header-container ion-padding-horizontal ion-padding-top">
      <div class="header-top-row">
        <h1 class="modal-title">Ficha Técnica</h1>

        <p class="modal-description">Configura los parámetros técnicos y de seguridad alimentaria para tu creación
          culinaria.</p>
        <div class="header-actions-row">
          <ion-button fill="outline" class="btn-discard" (click)="dismissModal()">Descartar</ion-button>
          <ion-button mode="ios" class="btn-create" (click)="techSheet ? updateTechSheet() : createTechSheet()">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            {{ techSheet ? 'Actualizar Ficha' : 'Guardar Ficha' }}
          </ion-button>
        </div>
      </div>
    </div>

    <ion-grid class="form-grid-layout ion-no-padding">
      <ion-row>
        <ion-col size="12" sizeLg="7" class="left-form-column">
          <!-- Primera seccion del formulario -->
          <ion-card mode="ios" class="custom-form-card">
            <ion-card-content>
              <!-- Imagen (en este caso se trabajara con imagenes en Base64, posible cambio a futuro) -->

              <!-- nombre -->
              <div class="field-container">
                <ion-label class="custom-label">Nombre de la Receta</ion-label>
                <ion-item>
                  <ion-input [formControl]="form.controls.name" placeholder="Ej. Risotto de Esparragos..."></ion-input>
                </ion-item>
              </div>

              <!-- categoria -->
              <div class="field-container">
                <ion-label class="custom-label">Categoria</ion-label>
                <ion-item fill="outline" mode="md" class="custom-input-item">
                  <ion-select formControlName="category" interface="popover" placeholder="Selecciona una opcion..."
                    toggle-icon="chevron-down-outline" class="category-select">
                    <ion-select-option *ngFor="let cat of categories" [value]="cat.name">{{ cat.name }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

              <!-- Rendimiento (Pax) -->
              <div class="field-container">
                <ion-label class="custom-label">Rendimiento (Pax)</ion-label>
                <ion-item>
                  <ion-input type="number" [formControl]="form.controls.performance" placeholder="4"></ion-input>
                  <ion-note slot="end" class="input-suffix">Pers.</ion-note>
                </ion-item>
              </div>

              <!-- Tiempo de Preparacion -->
              <div class="field-container">
                <ion-label class="custom-label">Tiempo de Prep.</ion-label>
                <ion-item fill="outline" mode="md" class="custom-input-item">
                  <ion-input type="number" [formControl]="form.controls.prepTime" placeholder="20"></ion-input>
                  <ion-note slot="end" class="input-suffix">Min.</ion-note>
                </ion-item>
              </div>

              <!-- Tiempo de coccion -->
              <div class="field-container">
                <ion-label class="custom-label">Tiempo de Cocción</ion-label>
                <ion-item fill="outline" mode="md" class="custom-input-item">
                  <ion-input type="number" [formControl]="form.controls.cookingTime" placeholder="45"></ion-input>
                  <ion-note slot="end" class="input-suffix"> Min.</ion-note>
                </ion-item>
              </div>

              <!-- Ingredientes -->
              <div class="field-container">
                <ion-label class="custom-label ion-margin-top" style="display: block;">
                  Proporciones de Ingredientes
                </ion-label>

                <div class="ingredients-container ion-margin-top">
                  <ion-row class="header-row">
                    <ion-col size="5">INGREDIENTE</ion-col>
                    <ion-col size="7">CANTIDAD / UNIDAD</ion-col>
                  </ion-row>
                  <div formArrayName="ingredients">
                    <div *ngFor="let ing of ingredients.controls; let i = index" [formGroupName]="i"
                      class="ingredient-row">
                      <ion-row class="ion-align-items-center">
                        <ion-col size="5">
                          <ion-input formControlName="name" placeholder="Ej. Arroz" class="ing-input"></ion-input>
                        </ion-col>

                        <ion-col size="3">
                          <ion-item lines="none" class="item-ingredient">
                            <ion-input type="number" formControlName="quantity" placeholder="Cant."></ion-input>
                          </ion-item>
                        </ion-col>

                        <ion-col size="3">
                          <ion-item>
                            <ion-select formControlName="unit" interface="popover" toggleIcon="chevron-down-outline"
                              placeholder="Unid.">
                              <ion-select-option value="">---</ion-select-option>
                              <ion-select-option *ngFor="let u of units" [value]="u">{{ u }}</ion-select-option>
                            </ion-select>
                          </ion-item>
                        </ion-col>

                        <ion-col size="1" class="flex-center">
                          <ion-button fill="clear" color="danger" (click)="removeIngredient(i)" class="btn-delete">
                            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                </div>

                <ion-button fill="clear" (click)="addIngredient()" class="add-ingredient-btn">
                  <ion-icon slot="start" name="add-outline"></ion-icon>
                  Agregar ingrediente
                </ion-button>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeLg="5" class="right-form-column">
          <!-- Segunda seccion del formulario (Parte critica) -->
          <ion-card mode="ios" class="custom-form-card pcc-card">
            <ion-card-content>
              <div class="header-with-icon">
                <ion-icon name="warning-sharp"></ion-icon>
                <h2 class="section-title">Puntos Críticos (PCC)</h2>
              </div>
              <p class="section-description">
                Puntos de control vitales para garantizar la inocuidad alimentaria del plato.
              </p>

              <!-- Temperatura de Cocción -->
              <div class="field-container ion-margin-top">
                <ion-label class="custom-label">Temperatura de Cocción</ion-label>
                <ion-item>
                  <ion-input [formControl]="form.controls.cookingTemp" placeholder="Ej. > 75°C en centro"></ion-input>
                </ion-item>
              </div>

              <!-- Mantenimiento -->
              <div class="field-container ion-margin-top">
                <ion-label class="custom-label">Mantenimiento</ion-label>
                <ion-item>
                  <ion-input [formControl]="form.controls.maintenance"
                    placeholder="Ej. Abatimiento en < 90min"></ion-input>
                </ion-item>
              </div>

              <div class="status-footer ion-margin-top">
                <ion-badge mode="ios">URGENTE</ion-badge>
                <span class="helper-text">Validación obligatoria</span>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Tercera seccion del formulario (Puntos claves) -->
          <ion-card mode="ios" class="custom-form-card key-points-card">
            <ion-card-content>
              <div class="header-with-icon">
                <ion-icon name="bulb-outline"></ion-icon>
                <h2 class="section-title">Puntos clave</h2>
              </div>

              <div formArrayName="keyPoints">
                <div *ngFor="let point of keyPoints.controls; let i = index" class=key-point-row>

                  <div class="bullet-input-container">
                    <div class="custom-bullet"></div>

                    <ion-input [formControlName]="i" placeholder="Ej. Incorporación de caldo frío vs caliente..."
                      class="key-point-input"></ion-input>
                    <ion-button fill="clear" color="medium" (click)="removeKeyPoint(i)">
                      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                    </ion-button>
                  </div>
                  <hr class="point-divider" *ngIf="i < keyPoints.length - 1">
                </div>
              </div>

              <ion-button (click)="addKeypoint()" fill="clear" class="add-point-btn">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Agregar punto clave
              </ion-button>

            </ion-card-content>
          </ion-card>

          <!-- Cuarta seccion del formulario (Estado de la Ficha) -->
          <ion-card mode="ios" class="custom-form-card status-card">
            <ion-card-content>
              <ion-label class="status-header">ESTADO DE LA FICHA</ion-label>

              <div class="status-item">
                <div class="status-text">
                  <span>Información Básica</span>
                  <ion-icon [name]="basicInfoProgress === 1 ? 'checkmark-circle' : 'ellipse-outline'"
                    [color]="basicInfoProgress === 1 ? 'success' : 'medium'"></ion-icon>
                </div>
                <ion-progress-bar [value]="basicInfoProgress" class="progress-basic"></ion-progress-bar>
              </div>

              <div class="status-item ion-margin-top">
                <div class="status-text">
                  <span>Seguridad (PCC)</span>
                  <ion-icon [name]="securityProgress === 1 ? 'checkmark-circle' : 'ellipse-outline'"
                    [color]="securityProgress === 1 ? 'success' : 'medium'"></ion-icon>
                </div>
                <ion-progress-bar [value]="securityProgress" class="progress-pcc"></ion-progress-bar>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>